#td-sidebar-menu form {
  margin-top: 15px;
}

#search-results .search-result {
  margin-bottom: 10px;

  strong {
    display: block;
  }
}

#api-results .api-result {
  margin-bottom: 10px;

  strong {
    display: block;
  }
}

#search-status {
  margin-bottom: 10px;
}

#api-results {
  margin-bottom: 20px;
}

body {
  color: rgba(255, 255, 255, 0.8);
  background-color: #121212;
}

.td-sidebar-nav__section-title a {
  color: rgba(255, 255, 255, 0.8);
}

.td-sidebar-nav .td-sidebar-link__page {
  color: rgba(255, 255, 255, 0.7);
}

.td-sidebar-nav a.active {
  color: #fff;
}

@media (min-width: 768px) {
  .td-sidebar {
    background-color: rgba(255, 255, 255, 0.05);
    padding-top: 0;
    margin-top: 4.5rem;
    border-right: 1px solid rgba(222, 226, 230, 0.15);
  }
}

.td-content .highlight {
  background-color: rgba(255, 255, 255, 0.05);
}

.td-content .highlight pre, .td-content .highlight div {
  background-color: transparent !important;
}

.td-toc {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.td-content p code, .td-content li > code, .td-content table code {
  background-color: rgba(255, 255, 255, 0.07);
  color: rgba(255, 255, 255, 0.8);
}

a {
  color: #e14d43;
}

a:hover {
  color: #e14d43;
  text-decoration: underline;
}

i.fa, i.fas, i.fab {
  color: rgba(255, 255, 255, 0.8);
}

.td-toc #TableOfContents a {
  color: rgba(255, 255, 255, 0.6);
}

.td-toc #TableOfContents a:hover {
  color: #fff;
}

.td-sidebar-nav a:hover {
  color: #fff;
}

.td-navbar {
  background: #1e1e1e;
  border-bottom: 2px solid #e14d43;
}

.table {
  th,
  td {
    border-top: $table-border-width solid rgba(255, 255, 255, 0.3);
  }

  thead th {
    border-bottom: (2 * $table-border-width) solid rgba(255, 255, 255, 0.3);
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid rgba(255, 255, 255, 0.3);
  }
}

#td-sidebar-menu form {
  margin-top: 25px;
}

.pt-2, .py-2 {
  padding-top: 1rem !important;
}

.td-sidebar-nav__section ul {
  margin: 5px 0;
}

.form-control, .td-navbar .td-search-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.navbar-logo {
  margin-right: 10px;
}

.navbar-logo, .navbar-logo + span {
  vertical-align: middle;
}

.navbar {
  padding: 1rem 1rem;
}

.td-toc {
  top: 4.5rem;
}

.td-content > blockquote {
  border-left: 6px solid #e14d43;
  color: #afafaf;
}

.td-content pre {
  background-color: rgba(255,255,255,.05);
  color: rgba(255, 255, 255, 0.8);
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.td-content > h1 {
  margin-bottom: 0.5rem;
}

.td-content > h2:not(:first-child) {
  margin-top: 2.25rem;
}

.td-content > h3 {
  margin-top: 2.25rem;
}

.td-content > h4, .td-content > h5, .td-content > h6 {
  margin-top: 2rem;
}

.prop-ro::after {
  content: 'RO';
  background: #e14d43;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  vertical-align: middle;
}

.changeset-dev::after {
  content: 'ONLY IN DEV';
  background: #e14d43;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  vertical-align: middle;
}

.td-content > table tr th:empty {
  display: none;
}

.td-content > table tr:last-child td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.td-content > table {
  @extend .td-max-width-on-larger-screens;
}

.result-ctx::after {
  content: '';
  background: #e14d43;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  vertical-align: middle;
}

.result-ctx {
  &.ct::after {
    content: 'CLIENT TYPE';
  }

  &.st::after {
    content: 'SERVER TYPE';
  }

  &.sht::after {
    content: 'SHARED TYPE';
  }

  &.fb::after {
    content: 'FB TYPE';
  }

  &.cl::after {
    content: 'CLIENT LIBRARY';
  }

  &.sl::after {
    content: 'SERVER LIBRARY';
  }

  &.shl::after {
    content: 'SHARED LIBRARY';
  }
}

.reading-time {
  font-style: italic;
  margin-bottom: 1rem;
  opacity: 0.6;

  span {
    font-weight: bold;
  }
}