#td-sidebar-menu form {
  margin-top: 15px;
}

#search-results .search-result {
  margin-bottom: 10px;

  strong {
    display: block;
  }
}

#api-results .api-result {
  margin-bottom: 10px;

  strong {
    display: block;
  }
}

#search-status {
  margin-bottom: 10px;
}

#api-results {
  margin-bottom: 20px;
}