{{ define "main" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.6/fuse.min.js" type="application/javascript"></script>
<section class="row td-search-result">
  <h2>{{ .Title }}</h2>
  <div id="api-results"></div>
  <div id="search-results">
    Searching. Please wait...
  </div>
  <script>
    {{ $offlineSearchIndex := resources.Get "json/offline-search-index.json" | resources.ExecuteAsTemplate "/offline-search-index.json" . }}
    {{ $offlineSearchIndexFingerprint := $offlineSearchIndex | resources.Fingerprint "sha512" }}
    $(document).ready(function() {
      window.renderSearch("{{ $offlineSearchIndexFingerprint.Permalink }}");
    });
  </script>
</section>
{{ end }}