{{- $currentNode := . }}
<div id="td-sidebar-menu" class="td-sidebar__inner">
  {{ if not .Site.Params.ui.sidebar_search_disable }}
    {{ partial "search-input.html" . }}
  {{ end }}
  <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
    <ul class="td-sidebar-nav__section">
      <li class="td-sidebar-nav__section-title">
        <a href="{{ .Site.Home.RelPermalink }}" class="align-left pl-0 pr-2{{ if .IsHome}} active{{ end }} td-sidebar-link td-sidebar-link__section">{{ .Site.Home.LinkTitle }}</a>
      </li>
      <ul>
        {{- if eq .Site.Params.ordersectionsby "title"}}
          {{- range .Site.Home.Sections.ByTitle}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
          {{- end}}
        {{- else}}
          {{- range .Site.Home.Sections.ByWeight}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
          {{- end}}
        {{- end}}
      </ul>
    </ul>
  </nav>
</div>

<!-- templates -->
{{- define "section-tree-nav" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect }}
  {{- if .IsSection }}
    {{- $active := eq . $currentNode.CurrentSection }}
    {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
    <ul class="td-sidebar-nav__section">
      <li class="td-sidebar-nav__section-title">
        <a href="{{ .RelPermalink }}" class="align-left pl-0 pr-2{{ if $active }} active{{end}}">{{ .LinkTitle }}</a>
      </li>
      {{- if and (ne $numberOfPages 0) (not .Params.hideChildren) }}
        <ul>
          {{- .Scratch.Set "pages" .Pages }}
          {{- if .Sections}}
          {{- .Scratch.Set "pages" (.Pages | union .Sections) }}
          {{- end}}
          {{- $pages := (.Scratch.Get "pages") }}
          {{- range $pages.ByWeight }}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
          {{- end}}
        </ul>
      {{- end}}
    </ul>
  {{- else}}
    {{- $active := eq .Permalink $currentNode.Permalink }}
    <li>
        <a class="td-sidebar-link td-sidebar-link__page{{ if $active }} active{{end}}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </li>
  {{- end}}
 {{- end}}
{{- end}}